body {
  margin: 0;
  padding:0;
  font-family: "Muli";
      }
.vl50 {
  height: 100vh;
  position: absolute;
  width: 50vw;
  border-right: 1px solid red;
  top: 0;
  left: 0;
}

.vl35 {
  height: 100vh;
  position: absolute;
  width: 35vw;
  border-right: 1px solid red;
  top: 0;
  left: 0;
}

.header > p {
  display: inline-block;
  border-right: 1px solid black;
  padding-right: 10px;
  padding-left:10px;
}

.header > p:last-child {border-right: none;}

.TJB {
  font-size: 2.5em;
}

.header {
padding-top: 5px;
text-align: center;
        }

.picture {
  border-radius: 100%;
  float:right;
  margin-right: 17%;
}

.footer {
  position:fixed;
  bottom:0;
  width: 100%;
  height: 80px;
  background-color: white;
  text-align: center;
  padding-bottom: 15px;
  background: linear-gradient(to bottom, rgb(255,255,255),rgba(0,0,0,.2))

        }
.footer img {height: 70px;
  /*border:1px solid red;*/
}
.main_content{
  text-align: center;
  float:left;
  width: 30%;
}

.middle-content-container {
  padding-top: 150px;

}
.about {
  display:none;
}

.projects {

  display:none;
}
.TJB {;
  font-size:3.5em;
  margin-top: 0;
  margin-bottom: 20px;
      }
/*#bootstrap {margin-left:15px;}*/
.line {width:100%;

}
.third-column {
  width: 29%;
}

.picture-container {
  width:35%;
  float: left;

}

@keyframes straightAhead {
  to {transform: rotate(0deg);}
}

.loc {
  float:left;
  width:42%;
  /*padding-left:2%;*/
  /*border:1px solid red;*/

}

.header p {color:grey;}
/*.loc p:first-child {border: none}*/
.header a {color:grey;}
