/** {border: 1px solid red}*/
* {margin: 0;
  padding: 0;
  font-family: "Open Sans";

}

/*-------------------------------------------*/
/*             COMMON ITEMS                  */
/*-------------------------------------------*/

.section {
  height: 100%;
  padding: 50px 75px;
  letter-spacing: 0.04em;
}

.content-text {
  font-size: 20px;
  letter-spacing: .05em;

}
.section-title {
  font-size: 22px;
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  font-size: 30px;
}

.hidden {
  display: none;

}

.vertical-center-line {
  height:100%;
  width: 0;
  border-right: 1px solid red;
  position: fixed;
  top: 0;
  left: 50%;
}

.clear-fix {clear:both;}

/*-------------------------------------------*/
/*              NAVBAR SECTION               */
/*-------------------------------------------*/

.navbar {
  width:100%;
  height: 40px;
  position: fixed;
  top:0;
  left: 0;
  text-align: right;
  color:black;
  background-color: white;
  letter-spacing: 1.5px;
  font-size: 15px;
}

.navbar > p {
  display: inline-block;
  border-right: 1px solid black;
  padding-right: 10px;
  padding-left:10px;
  margin-top: 10px;
  color: black;

}
.navbar > p:last-child {
  margin-right: 5%;
  border-right: none;
}

.navbar a {
  color:black;
  text-decoration: none;
}

  /*-------------------------------------------*/
  /*              INTRO CONTENT                 */
  /*-------------------------------------------*/

.intro-container {
  width:100%;
  height:540px;
  font-family: "Open Sans";
  margin-top: 40px;
  font-size: 25px;
  letter-spacing: 1.8px;
}

.desc {
  font-size: 10px;
  line-height: 30px;
}


.intro_left {
  height: 100%;
  width:40%;
  float:left;
  background-color: black;
  text-align: center;
  color:white;
  margin: 0;
  letter-spacing: 2.4px;
}

.intro_right {
  height: 100%;
  width: 60%;
  background-image: url("./assets/ss2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  text-align: center;
  margin: 0;
  float: left;
}


.TJB {
  margin-top: 195px;
  letter-spacing: 1.5px;
  padding-bottom: 0;
  margin-bottom: 20px;
  font-size: 50px;
}

.line {width: 285px;
  margin: auto;
  margin-bottom: 30px;
}

.inner {
  letter-spacing: 1.5px;
  display:inline-block;
  width: 300px;
  color:white;
  font-family: "Open Sans";
  text-align: center;
}


  /*-------------------------------------------*/
  /*              ABOUT ME                     */
  /*-------------------------------------------*/


#about_me{
  background-color: white;
  color: black;
  clear:left;
  /*padding-left: 0px;*/
  text-align: center;
}

#about-me {
  /*width: 62vw;*/
}

.picture-container {
  width: 20%;
  float: left;
  text-align: center;
  padding-top: 40px;
}
.right-of-pic {
  float:left;
  width: 80%;
}

.picture {
    border-radius: 100%;
    height: 20vh;
    float:left;
    margin: 10px;
    border: 5px solid white;
    margin-right: 40px;
}

#about_me_content {
  text-align: left;

}

.inneraboutme {
  padding-bottom: 75px;
  text-align: center;
}

.xyz {text-align: center;}
/*-------------------------------------------*/
/*             PROJECTS SECTION              */
/*-------------------------------------------*/

.projects {
    background-color: #C8C9CC;
    text-align: center;
    color: black;
    clear:left;
}

.projects  .project {
  width: 300px;
  display: inline-block;
  height: 375px;
  background-color: #C8C9CC;
  margin: 15px;
  border-radius: 10px;
  border: 1px solid black;
}

.project a div {
  width: 300px;
  height: 300px
}

.project-image {
  width:300px;
  height: 300px;
  border-radius: 10px 10px 0px 0px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.project-description {
  width: 300px;
  height: 65px;
  margin-top: 5px;
  border-radius: 0px 0px 10px 10px;
  background-color: white;
  padding-top: 5px;
}

.project-description button {
  background-color:   #C8C9CC;
  padding: 5px 10px;
  margin: 8px 10px;
  border: none;
  border-radius: 5px;
}
.project-description a {
  text-decoration: none;
}

/*.project-description p{
  margin-bottom: 10px;
}*/


#project1 {
  background-image: url("./assets/blackjack.png");
  /*background-size: 100% 100%;*/
}

#project2 {
  background-image: url("./assets/ttt.png");
  /*background-size: 100% 100%;*/
}


#project3 {
  background-image: url("./assets/catch-a-monster.png");
  /*background-size: 100% 100%;*/
}

#project4 {
  background-image: url("./assets/coming-soon.png");
  /*background-size: 100% 100%;*/
}
#project5 {
  background-image: url("./assets/coming-soon.png");
  /*background-size: 100% 100%;*/
}
.projects .placeholder {
  background-color: black;
}


/*.placeholder .project-description {
  display: none;
}*/


/*-------------------------------------------*/
/*              SKILLS SECTION               */
/*-------------------------------------------*/


.skills {
  background-color: white;
  text-align: center;
  color: black;

}

.skills_icons img {
  height: 70px;
  margin-top: 50px;
}

  /*-------------------------------------------*/
  /*              CONTACT SECTION              */
  /*-------------------------------------------*/


.contact {
  background-color: #C8C9CC;
  text-align: center;
  color:black;
}

.contact-icons {
  height: 48px;
  margin-top: 50px;
}
#middle {
  margin-left: 10px;
  margin-right: 10px;
}

/*              iPhone 5 & 6(portrait Mode)               */
/*        i5 = max-width: 320px, i6 = max-width: 375px    */

/*@media (max-width: 375px) and (orientation: portrait) {*/
@media (max-width: 414px) and (orientation: portrait) {
  .section {
    height: 100%;
    padding: 50px 25px;
    letter-spacing: 0.04em;
  }
   .navbar {
     text-align: center;
     font-size: 10px;
     letter-spacing: 0.5px;
   }

   .intro-container{
     height: 400px;
   }

   .navbar > p {
     margin-top: 20px;
   }

   .navbar > p:last-child {
     margin-right: 0;
   }

   .content-text {font-size: 18px;}

   .TJB {
     margin-top: 100px;
     font-size: 20px;
   }
   .intro_left {
     height: 100%;
     width:50%;
     float:left;

   }

   .intro_right {
     height: 100%;
     width: 50%;
   }

   .line {
     width: 120px;
     margin: auto;
     margin-bottom: 30px;
   }
   .picture {
     height: 85px;
     margin-right: 16px;
   }

   .projects {
     padding: 50px 0px;
   }
   .projects .project {
     width: 300px;
     height: 375px;
     margin: 0px 0px 10px 0px;
   }

   .skills_icons img {
     height: 20px;
     margin-top: 50px;
   }

   .contact-icons {
     height: 70px;
   }
}

/*            iPhone 5 (landscape Mode)             */
/*    i5 = max-width: 568px, i6 = max-width: 667    */

@media (max-width: 667px) and (orientation: landscape){

  .section {
    height: 100%;
    padding: 50px 25px;
    letter-spacing: 0.04em;
  }
   .navbar {
     text-align: center;
     font-size: 10px;
     letter-spacing: 0.5px;
   }

   .intro-container{
     height: 280px;

   }
   .navbar > p {
     margin-top: 20px;
   }

   .navbar > p:last-child {
     margin-right: 0;

   }

   .content-text {font-size: 18px;}

   .TJB {
     margin-top: 50px;
     font-size: 20px;
   }
   .intro_left {
     height: 100%;
     width:50%;
     float:left;

   }

   .intro_right {
     height: 100%;
     width: 50%;
   }

   .line {
     width: 120px;
     margin: auto;
     margin-bottom: 30px;
   }
   .picture {
     height: 85px;
     margin-right: 16px;
   }

   .projects {
     padding: 50px 0px;
   }
   .projects .project {
     width: 300px;
     height: 375px;
     margin: 0px 0px 10px 0px;
   }

   .skills_icons img {
     height: 40px;
     margin-top: 50px;
   }

   .contact-icons {height: 70px;}

}
/*      iPhone 6 only (landscape)          */

@media (max-width: 667px) and (min-width: 569px) and (orientation: landscape){

   .navbar > p {
     margin-top: 10px;
   }

   .content-text {font-size: 18px;}

   .TJB {
     margin-top: 50px;
     font-size: 20px;
   }

   .intro_left {
     height: 100%;
     width:50%;
     float:left;

   }

   .intro_right {
     height: 100%;
     width: 50%;
   }

}

@media (max-width: 736px) and (min-width: 668px) and (orientation: landscape){

   .navbar > p {
     margin-top: 10px;
   }

   .content-text {font-size: 18px;}

   .TJB {
     margin-top: 50px;
     font-size: 20px;
   }

   .intro_left {
     height: 100%;
     width:50%;
     float:left;

   }

   .intro_right {
     height: 100%;
     width: 50%;
   }

}

@media (max-width: 414px) and (min-width: 376px) and (orientation: portrait){

   .navbar > p {
     margin-top: 10px;
   }

   .content-text {font-size: 18px;}

   .TJB {
     margin-top: 100px;
     font-size: 20px;
   }

   .intro_left {
     height: 100%;
     width:50%;
     float:left;

   }

   .intro_right {
     height: 100%;
     width: 50%;
   }

}


@media (max-width: 736px) and (min-width: 668px) and (orientation: landscape){

   .navbar > p {
     margin-top: 10px;
   }

   .content-text {font-size: 18px;}

   .TJB {
     margin-top: 125px;
     font-size: 20px;
   }

   .intro_left {
     height: 100%;
     width:50%;
     float:left;

   }
   .projects {
         padding: 50px 0px;
   }

   .intro_right {
     height: 100%;
     width: 50%;
   }
   .contact-icons {height: 47px;}

   .skills_icons img {
     height: 47px;
     margin-top: 50px;
   }

}

@media (max-width: 800px) and (min-width: 737px) and (orientation: portrait){

   .navbar > p {
     margin-top: 10px;
   }

   .content-text {font-size: 18px;}

   .TJB {
     margin-top: 125px;
     font-size: 20px;
   }

   .intro_left {
     height: 100%;
     width:50%;
     float:left;

   }

   .projects {
      padding: 50px 0px;
   }

   .intro_right {
     height: 100%;
     width: 50%;
   }
   .contact-icons {height: 47px;}

   .skills_icons img {
     height: 47px;
     margin-top: 50px;
   }

}
